<div class="container align-items-center"><h2>Users:</h2>
  <ul class="users list-group">
    <li *ngFor="let user of getStaticUsers()" class="list-group-item list-group-item-action">
      <a routerLink="/user/{{user.id}}"
         (click)="onSelect(user)">
        <span>{{user.name}}</span>
      </a>
    </li>
  </ul>


  <form [formGroup]="userForm" class="input-group-lg">
    <h2>Create!</h2>
    <input id="user-name" class="form-control" #userName placeholder="Name" formControlName="name" >
    <input id="user-phone" class="form-control" #userPhone placeholder="Phone" formControlName="phone">
    <input id="user-email" class="form-control" #userEmail placeholder="Email" formControlName="email">
    <input id="user-address" class="form-control" #userAddress placeholder="Address" formControlName="address">
    <button class="btn btn-success btn-lg align-items-center"
            [class.disabled]="name!.invalid || email!.invalid || phone!.invalid || address!.invalid"
            (click)="add(userName.value, userPhone.value, userEmail.value, userAddress.value)">
      Create user!
    </button>
  </form>
</div>
