<div *ngIf="user">

  <h2>{{user.name | uppercase}} Details</h2>
  <div><span>id: </span>{{user.id}}</div>
  <div>
    <label for="user-name">user name: </label>
    <input id="user-name" [(ngModel)]="user.name" placeholder="name">
  </div>
  <div>
    <label for="user-phone">user phone: </label>
    <input id="user-phone" [(ngModel)]="user.phone" placeholder="phone">
  </div>
  <div>
    <label for="user-email">user email: </label>
    <input id="user-email" [(ngModel)]="user.email" placeholder="email">
  </div>
  <div>
    <label for="user-address">user address: </label>
    <input id="user-address" [(ngModel)]="user.address" placeholder="address">
  </div>

  <button class="delete-button" (click)="delete(user)" routerLink="../../users">
    Delete this user!
  </button>
</div>
