<form *ngIf="user" class="container" [formGroup]="userForm">

  <h2>{{user.name | uppercase}} Details</h2>
  <span>id: </span>{{user.id}}
  <input id="user-name" class="form-control" placeholder="name" formControlName="name">
  <input id="user-phone" class="form-control" placeholder="phone" formControlName="phone">
  <input id="user-email" class="form-control" placeholder="email" formControlName="email">
  <input id="user-address" class="form-control" placeholder="address"
         formControlName="address">
  <div class="btn-group-lg">
    <button class="btn-primary" routerLink="../../users">
      Back
    </button>
    <button class="btn-success" routerLink="../../users">
      Update this user!
    </button>
    <button class="btn-danger" (click)="delete(user)" routerLink="../../users">
      Delete this user!
    </button>
  </div>
</form>
